<!DOCTYPE html>
<html>
  <head>
    <title>Tech Scraper</title>
    <!-- jquery -->
    <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
    <!-- Materialize -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <!-- CSS  -->
    <link rel="stylesheet" href="./assets/css/style.css">
  </head>

  <body>

      <ul class="collection with-header">
        <li class="collection-header grey lighten-2">
          <h1><center>TECH SCRAPER</center></h1>
          <center><a href="/"><input class="btn" type="submit" value="RE-SCRAPE"></a></center>
        </li>
      </ul>


      <div class="container">
        {{{body}}}
      </div>

      <script type="text/javascript" src="./assets/js/javascript.js"></script>
    
  </body>

</html>